<h1>Sign In Page</h1>

<br><br>

<form action="/users/create-session" method="POST">
    <label for="email">
        Email:
        <input type="email" name="email" placeholder="Enter your email id" required>
    </label>

    <label for="password">
        Password:
        <input type="password" name="password" placeholder="Enter your password" required>
    </label>

    <button type="submit">Sign In</button>
</form>